{% if error %}
    <div>{{ error.message }}</div>
{% endif %}    


<form action="{{ path('login_check') }}" method="POST">
    
    <input type="text" name="_username" />
    <input type="password" name="_password" />
    
    <input type="submit" name="Login" value="Login" />
    
</form>